extends layout

block content

    div.row.d-flex.text-light
        div.card.bg-card.mx-auto.mt-5.px-4.py-5
            div.card-body

                if (currentUser)
                    p Logged In
