extends layout

block content
    section#login.row.d-flex.w-50.mx-auto.mt-5
        div.form-wrap.text-light.bg-dark.mt-5.px-5.pb-5.pt-3.rounded-3
            p.fs-1.text-center.mb-5 Create an account
            form#register-form(action="/register" method='POST' autocomplete='on')
                div.form-group.mt-4
                    label.sr-only(for='username') Username
                    input#username.form-control.bg-dark.text-light.border-0.border-bottom.light-border(type='text' name='username' placeholder='Username')
                div.form-group.mt-4
                    label.sr-only(for='firstName') First Name
                    input#firstName.form-control.bg-dark.text-light.border-0.border-bottom.light-border(type='text' name='firstName' placeholder='First Name')
                div.form-group.mt-4
                    label.sr-only(for='lastName') Last Name
                    input#lastName.form-control.bg-dark.text-light.border-0.border-bottom.light-border(type='text' name='lastName' placeholder='Last Name')
                div.form-group.mt-4
                    label.sr-only(for='password') Password
                    input#password.form-control.bg-dark.text-light.border-0.border-bottom.light-border(type='password' name='password' placeholder='Password')
                div.form-check.mt-3
                    input#showPassword.form-check-input(type='checkbox' value='')
                    label.form-check-label.text-light(for="showPassword") Show password
                input#btn-login.btn.btn-outline-info.btn-lg.btn-block.mt-4(type='submit' value='Register')
                            
    script(src='javascripts/togglePasswordVisibility.js')