@font-face {
    font-family: "InputMono-MI";
    src: url('../fonts/InputMono-MediumItalic.ttf');
}

@font-face {
    font-family: "InputMono-THIN";
    src: url("../fonts/InputMono-Thin.ttf");
}

@font-face {
    font-family: "InputMonoNarrow-REGULAR";
    src: url("../fonts/InputMonoNarrow-Regular.ttf");
}

body {
    background-color: #121212;
    font-family: "InputMonoNarrow-REGULAR";
}

a {
    text-decoration: none;
}

nav {
    background-color: #141414;
    left: 0;
    top: 0;
}

.tox-notifications-container {
    display: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-size: 1rem;
    -webkit-text-fill-color: #f8f9fa;
    transition: background-color 5000s ease-in-out 0s;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.outline-offset-4 {
    outline: 1px solid rgba(204, 204, 204, 0.295);
    outline-offset: -7px;
}

.w-40 {
    width: 40% !important;
}

.pointer {
    cursor: pointer;
}

.navbar-toggler-icon {
    background-color: #f8f9fa;
    mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.comment-border {
    border-bottom: 1px solid rgb(56, 56, 56) !important;
    border-right: 1px solid rgb(56, 56, 56) !important;
    border-top: 1px solid rgb(56, 56, 56) !important;
}

.card-title {
    font-size: 1.3rem;
}

.card-subtitle {
    font-size: 1rem;
}

.border-black {
    border-color: #000000 !important;
}

.toggleVisibility {
    display: none !important;
}

.hover-hide {
    transition: all 0.2s ease;
    opacity: 0;
}

.hover-hide-wrapper:hover .hover-hide {
    cursor: pointer;
    opacity: 1;
}

.bi-pencil,
.bi-trash {
    fill: #ccc;
    transition: all 0.2s ease;
}

.bi-pencil:hover {
    fill:rgba(10, 233, 40, 0.925)
}

.bi-trash:hover {
    fill:rgba(224, 19, 12, 0.781)
}

.bg-card {
    background-color: #252525;
}

.bg-form {
    background-color: #121212 !important;
}

.link-hover {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease;
}

.link-hover:hover {
    border-bottom: 2px solid #0dcaf0;
}

.light-border {
    border-bottom: 2px solid rgba(170, 170, 170, 0.5) !important;
    transition: all 0.2s ease;
}

.light-border:focus {
    border-bottom: 2px solid #0dcaf0 !important;
    box-shadow: none;
}

.post-controls-wrapper {
    justify-content: space-between !important;
}

.post-title {
    flex: 1;
}

@media screen and (max-width: 960px) {    
    .post-header {
        flex-direction: column;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-subtitle {
        font-size: 0.9rem;
    }

    .post-controls-wrapper {
        flex-direction: column;
        justify-content: flex-start !important;
    }

    .comment-details {
        font-size: 0.82rem;
        justify-content: space-around;
    }

    .comment-date {
        font-size: 0.72rem;
    }
}